.github

# Build files
.next
.vercel
build
node_modules
/apps/studio/
/apps/studio/dist
/apps/studio/node_modules
/apps/studio/.env

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
