/**
 * Image masonry grid.
 */

.masonry {
  column-count: 2;
  column-gap: 0.75rem;
}

.masonry img {
  @apply mt-0;
  @apply mb-3;
  background-color: rgba(243, 244, 246, 0.8);
  break-inside: avoid;
}

@screen md {
  .masonry {
    column-count: 3;
    column-gap: 2rem;
  }

  .masonry,
  .masonry img {
    @apply mb-8;
    @apply mb-8;
  }
}

@supports (grid-template-rows: masonry) {
  .masonry {
    @apply grid;
    @apply grid-rows-masonry;
    @apply grid-cols-2;
    column-count: unset;
  }

  @screen md {
    .masonry {
      @apply grid-cols-3;
    }
  }
}
