.imagegrid {
  column-count: 2;
  column-gap: 2rem;
}

@screen md {
  .imagegrid {
    column-count: 3;
  }
}

.imagegrid img {
  margin-top: 0;
  margin-bottom: 2rem;
  background-color: rgba(243, 244, 246, 0.8);
  break-inside: avoid;
}

@supports (grid-template-rows: masonry) {
  .imagegrid {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(2, 1fr);
    column-count: unset;
  }

  @screen md {
    .imagegrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
